body {
  background-color: #353634; }

#header {
  text-align: center;
  font-family: 'Over the Rainbow';
  color: #FFC6A5; }

.pic {
  display: inline-block;
  padding: 10px;
  text-align: center; }
  .pic h1 {
    display: none; }
    .pic h1:hover {
      display: block;
      color: yellow; }
